<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>@article.title</title>
</head>
<body>
<div class="topnav"><h1>Off The Rails</h1></div>

 <div class = "show">
 <div class = "articleTitle">
  <p>
    <%= @article.title %>
  </p>
  </div>

  <div class = "articleText">
  <p >
    <%= @article.text %>
  </p>
  </div>
  
  <%= link_to 'Edit', edit_article_path(@article) %>
  <h2>Comments</h2>
  <%= render @article.comments %>
  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>
  <%= link_to 'Back', articles_path %>
  </div>
  <div class = "my-article-bg">

  </div>
</body>
</html>
